

/* Input and main-feed tab */
#homeWrap > div:nth-child(2) {
  display: none;
}

/* Right */
main div[class*="Main_side"] {
  display: none;
}

/* Left */
#app div[class*="Frame_side"] {
  display: none;
}

/* Right-bottom */
div[role="navigation"] div[class*="Nav_configs"] {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  flex-direction: column;
  margin-right: 0;
}

div[role="navigation"] div[class*="Nav_configs"] > * {
  margin: 20px 0 0 0;
}

div[role="navigation"] div[class*="Nav_configs"] button[class*="Nav_pub"] {
  display: inline-block;
}

/* Top navigation */
div[role="navigation"] div[class*="Ctrls_main"],
div[role="navigation"] div[class*="Ctrls_main"] > div {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
}

div[role="navigation"] div[class*="Ctrls_main"] a > div {
  margin: 10px 0;
}

div[role="navigation"] div[class*="Ctrls_main"] a div.woo-tab-item-border {
  display: none;
}

/* Search */
div[role="navigation"] div[class*="Nav_search"] {
  z-index: 1;
  position: fixed;
  min-width: 220px;
  top: 0;
  right: 20px;
}

div[role="navigation"] div[class*="Nav_search"] > div {
  visibility: visible;
}


/* Header */
div[role="navigation"] {
  height: 0;
  position: fixed;
  top: -60px;
}

div[class*="Frame_top"] {
  height: 0px;
}


div[class*="Bar_main"] {
  top: 0;
}

div[class*="SecBar_secBar"] {
  top: 0;
}
